<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'dash.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'new_issue.css' %}">
</head>
<body>
    <section>
<!-- HEADER -->
        <header>
            <nav class="rad-navigation">
                <div class="rad-logo-container">
                    <a href="#" class="rad-logo">Dash-Board</a>
                </div>
                <div class="rad-top-nav-container">
                    <ul class="links">
                        <li>
                            <a class="rad-menu-item" href="#">
                                <i class="fa fa-comment-o"></i>
                            </a>
                        </li>
                        <li class="rad-dropdown">
                            <a class="rad-menu-item" href="#">
                                <i class="fa fa-envelope-o">
                                    <span class="rad-menu-badge">3</span>
                                </i>
                            </a>
                        </li>
                        <li class="rad-dropdown">
                            <a class="rad-menu-item" href="#">
                                <i class="fa fa-bell-o">
                                    <span class="rad-menu-badge">49</span>
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </section>
<!-- SIDEBAR -->
    <aside>
        <nav class="rad-sidebar">
            <ul>
                <li>
                    <a href="issues.html" class="inbox">
                        <i class="fa fa-dashboard">
                            <span class="icon-bg rad-bg-success"></span>
                        </i>
                        <span class="rad-sidebar-item">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bar-chart-o">
                            <span class="icon-bg rad-bg-danger"></span>
                        </i>
                        <span class="rad-sidebar-item">Ticket status</span>
                    </a>
                </li>
                <li>
                    <a href="records.html" class="snooz">
                        <i class="fa fa-line-chart">
                            <span class="icon-bg rad-bg-primary"></span>
                        </i>
                        <span class="rad-sidebar-item">Call trends</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="done">
                        <i class="fa fa-area-chart">
                            <span class="icon-bg rad-bg-warning"></span>
                        </i>
                        <span class="rad-sidebar-item">Heat maps</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-wrench">
                            <span class="icon-bg rad-bg-violet"></span>
                        </i>
                        <span class="rad-sidebar-item">Settings</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    {% block content %}

    {% endblock %}


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
    </html>
