{% extends 'layout.html' %}

{% block content %}
<!-- MAIN CONTENT -->
	<main>
		<section>
			<div class="rad-body-wrapper">
				<div class="app">
					<header class="app__header">
						<h1 class="app__header-title">Issues</h1>
						<a href="#" class="app__link-settings">
							<i class="fa fa-plus"></i>
						</a>
					</header>
					<div class="app__body">
						{% for issue in Iss %}
							{% if issue.agent == emps and not issue.resolve %}
							<div class="log log--{{issue.priority}}">
								<div class="log__header">
									<a href="/issues/{{issue.issueid}}" class="log__ticket">#{{issue.issueid}}</a>
									<span class="log__badge">{{issue.complaint_date}}</span>
								</div>
								<div class="log__body">
									{{issue.summary}}
								</div>
								<span class="tag apparel">Tech</span>
								<span class="tag electronics">Electronics</span>
								<span class="tag stationary">Stationary</span>
								<span class="tag fitness">Fitness</span>
							</div>
							{% endif %}
						{% endfor %}

					</div>
			</div>
		</section>
	</main>
{% endblock %}
