body {
  background: #222;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: #C3D2D3;
}

/* --- APP --- */

.app {
  max-width: 100%;
  max-height: 100%;
  /*overflow: auto;*/
}

.app__header {
  background: #61C3B9;
  /*border-radius: 20px 20px 0 0;*/
  text-align: center;
  position: relative;
  padding: 12px 30px;
  box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
}

.app__header-title {
  display: inline-block;
  font-size: 20px;
  line-height: 1.25;
  color: #D5E6E8;
}

.app__link-back,
.app__link-settings {
  text-decoration: none;
  color: #D5E6E8;
  position: absolute;
  top: 15px;
}

.app__link-back {
  left: 20px;
}

.app__link-settings {
  right: 20px;
}
.app__body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.app__body::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.app__body::-webkit-scrollbar-thumb
{
  background-color: #000000;
}


.app__body {
  max-height: calc(100vh - 107px);
  overflow: auto;
  background: #3E4D68;
  /*border-radius: 0 0 20px 20px;*/
}

/* --- LOG --- */

.log {
  position: relative;
  font-size: 14px;
  padding: 20px;
  border-top: 1px solid #2B3547;
}

.log--critical {
  box-shadow: 6px 0 0 #E77A7A inset;
}

.log--urgent {
  box-shadow: 6px 0 0 #F6B07D inset;
}

.log--median {
  box-shadow: 6px 0 0 #11AA22 inset;
}

.log__header {
  position: relative;
  font-size: 12px;
  font-weight: bold;
}

.log__ticket {
  text-decoration: none;
  color: #4BCBD8;

}

.log__badge {
  background: #57657E;
  padding: 3px 5px;
  /*border-radius: 5px;*/
  min-width: 15px;
  text-align: center;
  display: inline-block;
  right:10px;
  top: -10px;
  position: absolute;
}

.log__body {
  padding-top: 10px;
  line-height: 1.25;
}

/*.log__icon {
  color: #E77A7A;
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: 0;
}
*/
.tag {
  margin:2px;
  padding: 2px;
  border-radius: 2px;
  position: relative;
  bottom: -10px;
  font-size: 12px;
  cursor: pointer;
}
.apparel{
  background-color: darkorange;
}
.electronics{
  background-color: seagreen;
}
.stationary{
  background-color: cadetblue;
}
.fitness{
  background-color: tomato;
}
.more_info{
  position: absolute;
  right: 30px;
  bottom: 10px;
}
